body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

h2 {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.table-carrito {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
